<launch>
    <!-- define data path -->
    <arg name="DATA_PATH" value="$(find grasp_srv)/kinect_data/output/" />
    <arg name="MODEL_PATH" value="$(find grasp_srv)/data/" />
    
    <!-- run service node -->
    <node name="grasp_gen_client" pkg="grasp_srv" type="grasp_gen_client"
        args="$(arg DATA_PATH) $(arg MODEL_PATH)" output="screen"/>
    
    <node name="grasp_gen" pkg="grasp_srv" type="grasp_gen_server"
        args="$(find grasp_srv)" output="screen"/>   
</launch>
